# Functions

#### Warm up

In [6]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

In [57]:
def format_bands(bands_list):
    formatted_bands = []
    for band in bands_list:
        # Remove leading/trailing whitespace and punctuation
        band = band.strip(' .,').title()
        # Add to list
        formatted_bands.append(band)
    return formatted_bands

# Example usage
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
formatted_bands = format_bands(bands)
print(formatted_bands)  # Output: ['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']
formatted_bands2 = format_bands(bands2)
print(formatted_bands2)  # Output: ['The Who', 'The Doors', 'The Band', 'The Kinks']

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']
['The Who', 'The Doors', 'The Band', 'The Kinks']

In [58]:
def format_bands(bands_list):
    formatted_bands = []
    for band in bands_list:
        # Remove leading/trailing whitespace and punctuation
        band = band.strip(' .,').title()
        # Check for duplicate words
        band_words = band.split()
        unique_words = []
        for word in band_words:
            if word not in unique_words:
                unique_words.append(word)
        # Re-join the unique words into a single string
        formatted_band = ' '.join(unique_words)
        # Add to list
        formatted_bands.append(formatted_band)
    return formatted_bands

# Example usage
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']
formatted_bands2 = format_bands(bands2)
print(formatted_bands2)  # Output: ['The Who', 'The Doors', 'The Band', 'The Kinks']

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [19]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [20]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE>

# Creating a function
def say_hello(): # defining the function
    print('Hello!')

print(say_hello)
say_hello

<function say_hello at 0x106f943a0>

In [21]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [23]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [22]:
# Executing a function
# Syntax: function_name()

print('Before the function is called')
say_hello() # executing the function -- don't forget the ()
print('After the function is called')

Before the function is called
Hello!
After the function is called

##### Accepting Parameters

In [24]:
# Syntax: def function_name(arg1, arg2):
#             <CODE TO EXECUTE>

def say_hello(first, last): # <- first and last are paramaters (the placeholders)
    print(f'Hello {first} {last}!')

    
# Execute
# Syntax: function_name(data1, data2)
say_hello('Brian', 'Stanton') # <- 'Brian' and 'Stanton' are arguments (the data passed in)
say_hello('Stanton', 'Brian')

Hello Brian Stanton!
Hello Stanton Brian!

In [30]:
def say_hello_again(first_name, last_name):
    return f"Hello again, {first_name} {last_name}!"
    
print(say_hello_again('Stanton','Brian'))

Hello again, Stanton Brian!

##### Passing in variables as parameters

In [27]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'
city2 = 'New York'
state2 = 'NY'
zip_code2 = '10451'


def format_address(city_name, state_name, zipcode):
    print(f'{city_name}, {state_name}, {zipcode}')
    
    
format_address(city1, state1, zip_code1)
format_address(city2, state2, zip_code2)

Boston, MA, 02215
New York, NY, 10451

##### Keyword Arguments

In [31]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f'You have made a payment of ${amount_paid} to Account #{account_number}.')
    print(f'Your new balance due is ${new_total}')
    print('Thank you for the payment')
    
    
make_a_payment(account_number='137472', total_amount_due=1000, amount_paid=100)

You have made a payment of $100 to Account #137472.
Your new balance due is $900
Thank you for the payment

In [32]:
make_a_payment(1000, 100, '137472')

You have made a payment of $100 to Account #137472.
Your new balance due is $900
Thank you for the payment

##### Default Parameters

In [33]:
# default parameters need to be AFTER non-default parameters at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None):
    total_price = 4.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50
    message += f'Total: ${total_price:.2f}'
    print(message)

    
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [34]:
make_a_burger('Claire', False, False, False)

Thank you Claire. Here is your receipt:
1 Hamburger
Total: $4.50

In [35]:
make_a_burger('David', onions='grilled')

Thank you David. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

##### \*args and **kwargs

In [36]:
def my_function(arg1, arg2, *args, **kwargs):
    print(arg1)
    print(arg2)
    print(args)
    print(type(args))
    print(kwargs)
    print(type(kwargs))
    
    
my_function('a', 'b', 'c', 'd', 'e', 'f', key='value', num=10)

a
b
('c', 'd', 'e', 'f')
<class 'tuple'>
{'key': 'value', 'num': 10}
<class 'dict'>

In [7]:
def average(nums):
    total = 0
    for num in nums:
        total += num
    return total / len(nums)

avg = average([89, 99, 91, 92])
print(avg)

92.75

In [15]:
def my_function(arg1=10, *args, arg2=0):
    print('Arg1:', arg1)
    print('Args:', args)
    print('Arg2:', arg2)

my_function('a', 'b', 'c', 'd', 'e', arg2=20)

Arg1: a
Args: ('b', 'c', 'd', 'e')
Arg2: 20

In [11]:
def my_function(arg1, *args):
    print('Arg1:', arg1)
    print('Args:', args)

my_function('a', 'b', 'c', 'd')

Arg1: a
Args: ('b', 'c', 'd')

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [37]:
def format_car(color, make, model):
    return f"{color.title()} {make.title()} {model.title()}"

cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

for car in cars:
    print(format_car(*car))

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [19]:
def format_car(color, make, model):
    return f"{color.title()} {make.title()} {model.title()}"

cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

for car in cars:
    print(format_car(*car))

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [20]:
def format_car(color, make, model):
    return f"{color.title()} {make.title()} {model.title()}"

cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

for car in cars:
    print(format_car(*car))

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [21]:
student = 'Little Jimmy'
teacher = 'Ms. Buttercup'

def assign_student(student_name):
    student = "Jimmy Smith"
    print(student)
    print(f"{student_name} has been assigned to {teacher}'s class")


assign_student(student)
# print(student_name)

Jimmy Smith
Little Jimmy has been assigned to Ms. Buttercup's class

In [36]:
even_only = []

def get_only_evens(list_of_nums):
    for num in list_of_nums:
        if num % 2 == 0:
            even_only.append(num)
    return even_only

In [37]:
def get_only_evens(list_of_nums):
    even_only = []
    for num in list_of_nums:
        if num % 2 == 0:
            even_only.append(num)
    return even_only

print(get_only_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[2, 4, 6, 8, 10]

In [38]:
even_only = []

def get_only_evens(list_of_nums):
    for num in list_of_nums:
        if num % 2 == 0:
            even_only.append(num)
    return even_only

evens1 = get_only_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
evens2 = get_only_evens([10, 15, 20, 25, 30, 15, 40])

In [33]:
my_list = [1,2,3,4,5]
print(my_list.append)

<built-in method append of list object at 0x10705bfc0>

In [39]:
my_list.append

##### Returning Values

In [39]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2 * x

y = f(5)
print(y)

10

In [40]:
z = f(10)

In [41]:
print(z, z**2)

20 400

In [43]:
# Return will also immediately terminates the function

def early_return(n):
    for i in range(n):
        return i
    
    
early_return(1000)

0

In [45]:
def early_return_again(n):
    for x in range(n):
        return x
    print('Hello World!')
    
    
early_return_again(10)

0

In [44]:
def f(x):
    return x * 2

z = f(10)
print(z, z**2)

20 400

# returns will also immediately terminate the function
def early_return (n):
 for i in range(n):
 for i in range (n):
   return 0
   
   early_return (10)

In [43]:
def another_example(n):
    for i in range(n):
        if i== 5:
            return i
        print(i)
        print('This is after the for loop')
        another_ecample(10)

In [ ]:
name=('Brian','Danielle', 'Frank', 'Tim' , 'hannah',joanna', 'james]
      def get a_person(person_name
                       for name in name
                      if name==person_name:
                      print(name)
                      return name
                      return 'Not a person'
                      return 'Not a person
                       
                       
                       geta_person ('Mike)')')

#### Multiple returns in a function

In [46]:
def can_vote(birth_year):
    if 2022 - birth_year >= 18:
        return True
    else:
        return False
    
    
print(can_vote(2005))
print(can_vote(2000))

False
True

##### Difference between `return` and `print`

In [47]:
def create_headline_print(message):
    print(message.strip().title() + '!')
    
def create_headline_return(message):
    return message.strip().title() + '!'


def publish_article(headline, author, body):
    clean_headline = create_headline_print(headline)
    
    print(f'{clean_headline} by {author}: {body}')
    
publish_article('   dogs -- still good  ', 'Brian', 'Way better than cats!')

Dogs -- Still Good!
None by Brian: Way better than cats!

In [48]:
def clean_names(list_of_names):
    output_list = []
    for n in list_of_names:
        clean_name = n.strip().title()
        output_list.append(clean_name)
    return output_list


clean_names

In [49]:
messy_beatles = ['   joHN lENNon  ', '  PaUL MCCartNEy ', '  gEORge HARRisOn     ', '   rInGo STarr   ']

clean_beatles = clean_names(messy_beatles)
print(clean_beatles)

['John Lennon', 'Paul Mccartney', 'George Harrison', 'Ringo Starr']

#### Functions with Lists

In [50]:
def clean_names(list_of_names):
    output_list = []
    for n in list_of_names:
        clean_name = n.strip().title()
        output_list.append(clean_name)
    return output_list


clean_names

In [51]:
messy_beatles = ['   joHN lENNon  ', '  PaUL MCCartNEy ', '  gEORge HARRisOn     ', '   rInGo STarr   ']

clean_beatles = clean_names(messy_beatles)
print(clean_beatles)

['John Lennon', 'Paul Mccartney', 'George Harrison', 'Ringo Starr']

In [52]:
messy_beatles = ['   joHN lENNon  ', '  PaUL MCCartNEy ', '  gEORge HARRisOn     ', '   rInGo STarr   ']

clean_beatles = clean_names(messy_beatles)
print(clean_beatles)

['John Lennon', 'Paul Mccartney', 'George Harrison', 'Ringo Starr']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [15]:
cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

In [53]:
def get_cities_by_country(cities_list, country_name):
    matching_cities = []
    for city, country in cities_list:
        if country == country_name:
            matching_cities.append(city)
    return matching_cities

cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

# Example usage:
print(get_cities_by_country(cities, "Spain"))  # Output: ['Barcelona', 'Madrid']

['Barcelona', 'Madrid']

#### Docstrings

In [59]:
help(cities_in_country)

NameError: name 'cities_in_country' is not defined

In [55]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [45]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
def ad_numms

In [ ]:
###White Board Approah##
Write a function that brings in a word and returns that word with all the vowels removed. Y is NOT considered as a vowel the starting word eill contain upper and lower case letters/


#1. What are the input(s)?
#2. What are the output(s)?
#3. Consider constraints and edge cases
#4. Write out steps logically (No Python)
#5. Pseudocode
#6. Code

In [ ]:
#1. Input(s)-word-type:str
#2. Output(s-wordd with vowels removed- type: str
#3. Constraints/Edge Cases- "Y"not a vowel-consider both upper and lower case letter.
#4. Look at each letter of the word, if the letter is a vowel, skip over the letter, if not a vowel, keep it,Once finished  #checking 
#every Letter, return the word
#5 checking every Letter, return the word.

# 5. Pseudocode
#Define a function that accepts a word prameter
def remove_vowels(word):
  #Create a new sting to build the vowel-less word
vowels={'a','e','i','o','u'}
    #Create a data collection of the vowels= 'aeiou"
    #Loop through each Letter of the word.
     for letter in word:
    #if letter is in the collection of vowels
    if letterlower() not in vowels:
    #if letter not in the collection of vowels
    #add the Letter to the new vowel-less word
     new_string += letter
    #After Looping thoiugh each Letter, return the new vowel-less word.]]
    return new_string

In [4]:
def remove_vowels(s):
    vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
    result = ''
    for char in s:
        if char not in vowels:
            result += char
    return result
s = 'HELLO WORLD'
result = remove_vowels(s)
print(result)

HLL WRLD